body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f6f8fa;
    margin: 40px;
    color: #333;
}

h1 {
    color: #002b36;
}

.chart {
    margin-top: 30px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

